@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

body{
    background-color: #FFF7ED;

}
.navbar{
    display: flex;
    align-items: center;
    background-color: #FFF7ED;
    justify-content: space-between;
    padding: 2rem 2rem;
}
.navbar-links{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}
.navbar-links a{
    text-decoration: none;
    color: black;
}

.navbar h1 a{
    font-weight: 900;
    color: black;
    text-decoration: none;
}

.hero{
    padding: 2rem 1rem;
    color: white;
    background-image: url("./assets/background-img.jpg");
    height: 300px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    flex-direction: column;
}

.button{
    color: white;
    background-color: #FF8C38;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 0rem;
    font-weight: 700;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.hero p{
    margin-top: 1rem;
}

.footer{
    color: #AAAAAA;
    background-color: #252525;
    text-align: center;
    padding: 1rem 0;
    margin-top: 1rem;
}

img{
    max-width: 100%;
}

.about{
    padding: 2rem 1rem;
    background-color: #FFF7ED;
}

.about h1{
    margin-bottom: 1rem;
}

.about-explore{
    background-color: #FFCC8D;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.about-explore button{
    margin-top: 1rem;
    color: white;
    background-color: black;
    padding: 1rem 1rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

.vans{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}
.van-container {
    padding-inline: 23px
}
.vans img{
    border-radius: 5px;
}

.van-title a {
    color: #161616;
    text-decoration: none;    
}

.van-info p{
    margin-bottom: 1rem;
}

.van-info-img{
    margin: 1rem 0;
}

.van-info h2{
    margin-top: 1rem;
}



.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.bold{
    font-weight: 700;
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}