@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

body{
    background-color: #FFF7ED;

}
.navbar{
    display: flex;
    align-items: center;
    background-color: #FFF7ED;
    justify-content: space-between;
    padding: 2rem 2rem;
}
.navbar-links{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}
.navbar-links a{
    text-decoration: none;
    color: black;
}

.navbar h1 a{
    font-weight: 900;
    color: black;
    text-decoration: none;
}

.hero{
    padding: 2rem 1rem;
    color: white;
    background-image: url("./assets/background-img.jpg");
    height: 300px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    flex-direction: column;
}

.button{
    color: white;
    background-color: #FF8C38;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 0rem;
    font-weight: 700;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.hero p{
    margin-top: 1rem;
}

.footer{
    color: #AAAAAA;
    background-color: #252525;
    text-align: center;
    padding: 1rem 0;
    margin-top: 10px;
    
}

img{
    max-width: 100%;
}

.about{
    padding: 2rem 1rem;
    background-color: #FFF7ED;
}

.about h1{
    margin-bottom: 1rem;
}

.about-explore{
    background-color: #FFCC8D;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.about-explore button{
    margin-top: 1rem;
    color: white;
    background-color: black;
    padding: 1rem 1rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

.vans{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}
.van-container {
    padding-inline: 23px
}
.vans img{
    border-radius: 5px;
}

.van-title a {
    color: #161616;
    text-decoration: none;    
}

.van-info p{
    margin-bottom: 1rem;
}

.van-info-img{
    margin: 1rem 0;
}

.van-info h2{
    margin-top: 1rem;
}



.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.bold{
    font-weight: 700;
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}

a{
    color: black;
    text-decoration: none;
}

.host-nav {
    display: flex;
    padding-inline: 23px

}

.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 10px 0px 0px;
}

.host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

.host-van{
    background-color: white;
    padding: 10px 20px;
    margin: 10px 1rem;
    border-radius: 5px;
}

.host-van2{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 1rem 0
}

.host-van-flex{
    display: flex;
    align-items: center;
    gap: 5%;
}

.host-van-flex div h3{
    margin-top: 1rem;
}


.host-van-img{
    height: 70px;
}
.host-van-img2{
    height: 10rem;
}

.host-info-nav{
    display: flex;
    gap: 5%;
    margin: 1rem 0;
}

.soft{
    font-weight: 400;
}
.host-van-info h4{
    margin: 1rem 0;
}

.not-found-button{
    background-color: #161616;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-weight: 600;
}


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 27px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;    
}

.login-form > input {
    border: 1px solid rgba(209, 213, 219);
    height: 40px;
    text-indent: 10px;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 400;
}

.login-form > input:focus {
    outline: none;
}

.login-form > input:first-of-type {
    border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
    border-radius: 0px 0px 6px 6px;
    border-top: none;
}

.login-form > button {
    background-color: #FF8C38;
    border: none;
    border-radius: 6px;
    height: 55px;
    margin-top: 22px;
    color: white;
    font-family: "Inter", sans-serif;
}

@media (min-width: 800px) {
    .hero{
        height: 79vh;
        justify-content: center;
        text-align: center;
        padding: 0px 10rem;
        overflow: hidden;
    }
    .hero h1{
        font-size: 3rem;
        padding-inline: 1rem;
    }
    .hero p{
        font-size: 24px;
    }
    .vans{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .van-container{
        padding-inline: 6rem
    }
    .navbar{
        padding-inline: 6rem;
    }
    .van-detail{
        display: flex;
        gap: 10%;
    }
    .van-info-img{
        height: 500px;
    }
    .van-info{
        margin-top: auto;
        margin-bottom: auto;
    }
    .van-info h2{
        font-size: 2.5rem;
    }
    .van-info p{
        font-size: 18px;
    }
    .van-info i{
        font-size: 2rem;
    }
    .button{
        font-size: 1rem;
    }
    .host-nav{
        padding-inline: 6rem;
    }
    .van-buttons button +  button{
        margin-left: 2rem;
    }
    
}